apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgres
  namespace: argocd
spec:
  syncPolicy:
    automated: 
      prune: true
      selfHeal: true
    syncOptions:
     - CreateNamespace=true
  destination:
    namespace: postgres
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://github.com/mdp-eg-org/infra-mdp
    targetRevision: HEAD
    path: apps/postgres