ingressClass:
  enabled: true
  name: "traefik-internal"
  isDefaultClass: false

additionalArguments:
  - "--providers.kubernetesingress.ingressclass=traefik-internal"
  - "--ping"
providers:
  kubernetesCRD:
    enabled: false

ports:
  web:
    port: 80
    expose:
      default: true
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 443
    expose:
      default: true
    exposedPort: 443
    protocol: TCP

service:
  enabled: true
  type: LoadBalancer
  annotations:
    metallb.universe.tf/address-pool: "internal-pool"
