ingressClass:
  enabled: true
  name: "traefik-external"
  isDefaultClass: true

additionalArguments:
  - "--providers.kubernetesingress.ingressclass=traefik-external"
  - "--entryPoints.web.transport.respondingTimeouts.readTimeout=600s"
  - "--entryPoints.websecure.transport.respondingTimeouts.readTimeout=600s"
  - "--ping"

ports:
  web:
    port: 80
    expose:
      default: true
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 443
    expose:
      default: true
    exposedPort: 443
    protocol: TCP

service:
  enabled: true
  type: LoadBalancer
  annotations:
    metallb.universe.tf/address-pool: "external-pool"
    metallb.universe.tf/loadBalancerIPs: "91.99.125.133"
