apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  labels:
    app: helm
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'https://charts.jetstack.io'
    targetRevision: 1.19.1
    chart: cert-manager
    helm:
      values: |
          crds:
            enabled: true
          prometheus:
            enabled: false

  destination:
    server: 'https://kubernetes.default.svc'
    namespace: cert-manager
  syncPolicy:
    automated: 
      prune: true
    syncOptions:
     - CreateNamespace=true